@tailwind base;
@tailwind components;
@tailwind utilities;

button.contained::before, button.waves::before {
  border-radius: 100%;
}
button.contained::before {
  transition: all 2s;
  left: -10%;
  top: -90%;
  width: 75;
  height: 75;
  filter: blur(40);
}

button.waves::before {
  transition: all 1s;
  right: -50%;
  top: -150%;
  width: 250;
  height: 250;
  filter: blur(65);
}

button.waves:hover::before {
  top: 0%;
  right: 50%;
}

div.waves::before, div.status::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

div.waves::before {
  border-radius: 12;
  background-image: linear-gradient(to right, rgba(20, 234, 138, .24), rgba(160, 255, 87, .24));
}

div.status::before {
  border-radius: 100%;
}

button.text::after {
  width: 0;
  transition: 500ms;
  left: 14;
  top: 80%;
  transform: translate(0, -50%);
}

button.text:hover::after {
  height: 2;
  width: calc(100% - 28px);
}