@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6, p, span, strong {
    @apply cursor-default
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-grayscale-900 font-semibold
  }
  h1 {
    @apply text-h1-xs md:text-h1-md xl:text-h1-xl leading-h1-xs md:leading-h1-md xl:leading-h1-xl
  }
  h2 {
    @apply text-h2-xs md:text-h2-md xl:text-h2-xl leading-h2-xs md:leading-h2-md xl:leading-h2-xl
  }
  h2 {
    @apply text-h2-xs md:text-h2-md xl:text-h2-xl leading-h2-xs md:leading-h2-md xl:leading-h2-xl
  }
  p {
    @apply text-grayscale-700
  }
  button {
    @apply font-semibold overflow-hidden leading-[26px]
  }
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: #C6C9C7;
  border-radius: 20px;
  border: 2px solid #FFF;
}

button.badge::before, button.contained::before, button.waves::before {
  border-radius: 100%;
}

button.badge::before, button.contained::before {
  width: 75px;
  height: 75px;
  filter: blur(40px);
  top: -100%;
}

button.badge::before {
  transition: all 1s;
  left: 150%;
}

button.contained::before {
  transition: all 1s;
  left: 100%;
}

button.badge:hover::before {
  left: -25%;
  top: 0%;
}

button.contained:hover::before {
  left: -60%;
  top: 0%;
}

button.waves::before {
  transition: all 1s;
  right: -50%;
  top: -150%;
  width: 250px;
  height: 250px;
  filter: blur(65px);
}

button.waves:hover::before {
  top: 0%;
  right: 50%;
}

div.waves::before, span.status::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

div.waves::before {
  border-radius: 12px;
}

span.status::before {
  border-radius: 100%;
}

button.text::before {
  height: 1px;
  width: 0;
  transition: 500ms;
  right: 14px;
  top: 80%;
  transform: translate(0, -50%);
}

button.text:hover::before {
  width: calc(100% - 28px);
}

span.customers-fade {
  background-image: linear-gradient(to left, #F5F8F5, #ffffff00, #F5F8F5);
}