@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header,
  footer,
  section {
    @apply w-full px-7 py-10 xl:py-20
  }

  h1 {
    @apply text-[28px] md:text-[42px] xl:text-[56px] leading-[38px] md:leading-[46px] xl:leading-[54px] font-semibold
  }

  h2 {
    @apply text-[26px] md:text-[36px] xl:text-[48px] leading-[38px] md:leading-[46px] xl:leading-[54px] font-semibold
  }

  h3 {
    @apply text-[24px] md:text-[32px] xl:text-[40px] leading-[30px] md:leading-[38px] xl:leading-[46px] font-semibold
  }

  h4 {
    @apply text-[22px] md:text-[30px] xl:text-[38px] leading-[30px] md:leading-[38px] xl:leading-[46px] font-semibold
  }

  h5 {
    @apply text-[16px] xl:text-[18px] leading-[24px] font-semibold
  }

  button {
    @apply overflow-hidden font-semibold;
  }

  ::before,
  ::after {
    @apply absolute transition-all duration-1000
  }

  ::-webkit-scrollbar {
    @apply w-[9px];
  }

  ::-webkit-scrollbar-track {
    @apply opacity-0;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full border-2 border-solid border-white bg-grayscale-300;
  }
}

@layer components {
  .cta {
    @apply bg-gradient-to-l from-accent to-accent via-accent-light bg-[length:250%]
  }

  .fade-x {
    background-image: linear-gradient(to right, theme(colors.grayscale.100), transparent, theme(colors.grayscale.100));
  }

  .plus-button::before,
  .plus-button::after {
    content: "";
    height: 18px;
    width: 2px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: theme(colors.grayscale.800);
    transition: all .5s;
  }

  .plus-button::after {
    transform: translate(-50%, 50%) rotate(90deg);
  }

  li:hover>.plus-button::before,
  li:hover>.plus-button::after {
    transform: translate(-50%, 50%) rotate(270deg);
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}